main,
header {
	font-family: "Open Sans", sans-serif;
	margin: auto;
	font-weight: 700;
	width: 1170;
}
.nav-menu {
	background-color: #313131;
	display: flex;
}

.logo {
	display: block;
	padding: 22px 27px 21px 27px;
}

.logo:hover {
	background-color: black;
	transform: translateX(1ms);
}
.logo-text {
	font-size: 22px;
	padding: 22px 0 22px 0;
	text-decoration: none;
	color: white;
}

.menu-list {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	justify-content: center;
	padding: 28px 0 27px 27px;
}

.search-btn {
	border: none;
	background-color: #313131;
	padding: 25.5px 26.5px;
	cursor: pointer;
}

.search-btn:hover {
	background-color: black;
	transform: translateX(1ms);
}

.menu-item {
	padding-right: 20px;
	text-transform: uppercase;
	font-size: 15px;
}

.menu-link {
	text-decoration: none;
	color: white;
}

.menu-link:hover {
	color: #14b9d5;
}

.header-wrap {
	background-image: url(../Images/backGround/header-bg.jpeg);
	background-attachment: scroll;
	background-size: cover;
	background-attachment: fixed;
}

.header-title {
	color: white;
	text-align: center;
	font-size: 27px;
	padding-top: 164px;
}
.button {
	display: flex;
	padding: 74px 0 74px 0;
	justify-content: center;
}

.btn-left,
.btn-right {
	display: block;
	border-radius: 2mm;
	width: 170px;
	height: 55px;
	color: white;
	border: none;
	font-size: 18px;
}

.btn-left,
.btn-right:hover {
	cursor: pointer;
}

.btn-left:hover {
	background: linear-gradient(90deg, #89ca62 30%, #14b9d5 70%);
}

.btn-left {
	background-color: #89ca62;
	margin-right: 20px;
}

.btn-right:hover {
	background: linear-gradient(90deg, #14b9d5 30%, #89ca62 70%);
}

.btn-right {
	background-color: #14b9d5;
}

.title {
	color: #18b4cf;
	text-align: center;
	font-size: 27px;
	text-transform: uppercase;
	margin-bottom: 52px;
}

.posts {
	padding-top: 49px;
	background-color: #f2f2f2;
	padding-bottom: 72px;
}

.container {
	width: 1170px;
	margin: auto;
	display: flex;
}

.content {
	padding-right: 30px;
}

.content-photo {
	width: 370px;
}

.post-link {
	text-align: center;
	background-color: white;
	display: block;
	padding: 20px 0 20px 0;
	text-decoration: none;
	color: #353a3d;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 30px;
}

.post-link:hover {
	background-color: rgb(197, 197, 197);
}

.main-layout {
	background-image: url(../Images/backGround/main-layout.jpeg);
	text-align: center;
	margin-bottom: 49px;
	background-attachment: fixed;
	background-size: cover;
}

.posts-header {
	color: white;
	background-size: cover;
	font-size: 32px;
	padding-top: 106px;
	text-transform: uppercase;
	margin-bottom: 87px;
}

.line {
	display: inline-block;
	border-bottom: solid 3px #18b4cf;
	width: 60px;
	margin-bottom: 106px;
}

.logo-bar {
	background-repeat: no-repeat;
	height: 100px;
	width: 100%;
	display: inline-block;
	margin-bottom: 190px;
}

.logo-1 {
	position: relative;
	margin-right: 58px;
	bottom: 12px;
}

.logo-2,
.logo-3 {
	position: relative;
	margin-right: 58px;
}

.logo-4 {
	position: relative;
	top: 5px;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	margin-bottom: 51px;
}

.top-rated-img {
	width: 100%;
	height: auto;
}
.news-wrapper {
	margin: auto;
	width: 1170px;
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: repeat(4, auto);
	gap: 35px 0;
	margin-bottom: 71px;
}

.news-side-link {
	display: block;
	text-decoration: none;
	color: #353a3d;
	font-size: 18px;
	font-weight: 700;
	background-color: #f9f7f7;
	text-align: right;
	height: 100%;
}

.news-side-link h3 {
	text-decoration: none;
	color: #353a3d;
	font-size: 18px;
	font-weight: 700;
	padding: 41px 24px 0 0;
}

.news-side-link p {
	color: #5b6469;
	font-size: 14px;
	font-weight: 600;
	text-align: right;
	padding: 14px 24px 0 0;
}

.news-side-link:hover {
	background-color: rgb(197, 197, 197);
}

.news-bottom-link {
	display: block;
	text-decoration: none;
	color: #353a3d;
	font-size: 18px;
	font-weight: 700;
	background-color: #f9f7f7;
	text-align: right;
}

.news-bottom-link h3 {
	text-decoration: none;
	color: #353a3d;
	font-size: 18px;
	font-weight: 700;
	padding: 14px 14px 15px 0;
}

.news-bottom-link p {
	color: #5b6469;
	font-size: 14px;
	font-weight: 600;
	text-align: right;
	padding: 14px 14px 3px 0;
}

.news-bottom-link:hover {
	background-color: rgb(197, 197, 197);
}

.news-bottom-link .center-link {
	text-align: center;
}

.news-item {
	background-color: #f9f7f7;
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.news-item1 {
	grid-column: 1 / span 3;
	margin-right: 35px;
}

.news-item1 img {
	padding-right: 15px;
	float: left;
	height: 100%;
}

.news-item3,
.news-item5 {
	grid-column: 1 / span 2;
	margin-right: 30px;
}

.news-item4,
.news-item6 {
	grid-column: 3 / span 4;
	margin-left: 30px;
}

.news-item8 {
	grid-column: 2 / span 5;
	margin-left: 35px;
}

.news-item2 img {
	width: 100%;
}

.news-item7 img {
	width: 100%;
}

.news-item8 img {
	float: left;
	padding-right: 15px;
	height: 100%;
}

.footer {
	margin: auto;
	display: flex;
	width: 100%;
	color: #fff;
	background-color: #000;
	padding: 30px 0;
}

.footer-title {
	font-family: "Open Sans", sans-serif;
	padding: 0 200px 0 250px;
}

#toTop {
	display: none;
	position: fixed;
	right: 45px;
	bottom: 45px;
}

.ref-on-page {
	background-color: #776363;
	display: flex;
}

.btn-wrapper {
	background-color: #776363;
	text-align: center;
}

.btn-news {
	text-decoration: none;
	font-size: 27px;
	font-weight: 700;
	margin: 15px 0 15px 0;
	cursor: pointer;
	border: none;
	background-color: #776363;
	color: white;
}
